<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tech News</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <script type="text/javascript" th:src="@{/js/library/fontawesome-6.5.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/library/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/subscribe.js}"></script>

    <link th:href="@{/css/font/google-font-lora.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/font/google-font-open-sans.css}" rel="stylesheet" type="text/css" />

    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/subscribe.css}" rel="stylesheet" />
</head>